@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* neutral */
    --Grey-500: hsl(234, 12%, 34%);
    --Grey-400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);

    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

}
h1 {
    font-size:1.6em;
}




body {
    background: var(--White);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color: var(--Grey-400);
    
    font-family: Poppins;
    
}

/* h2 {
    font-size
} */
main {
    text-align: center;
    
}
 span {
    font-weight: 200;
    color: var(--Grey-500);
}
#container {
    display:flex;
    flex-direction:column;
    padding: 1em;
    font-weight: 200;
    
}
section {
    background-color: var(--White);
    margin:3%;
    padding: 2em;
    max-height: 250px;
    border-radius: 1em;
    box-shadow: 0px 0.8em 8px rgb(178, 211, 220);;
}

#Supervisor {
    border-top: 0.4em solid var(--Cyan);
    grid-area: sup;
}

#team-builder {
    border-top: 0.4em solid var(--Red);
    grid-area: team;
}

#karma{
    border-top: 0.4em solid var(--Orange);
    grid-area: karma;
}

#calculator {
    border-top: 0.4em solid var(--Blue);
    grid-area: calc;

}
img {
    padding-left: 80%;
    padding-top: 10%;
}
p {
    color: var(--Grey-400);
}

@media  screen and (min-width:900px) {
    #container {
        display:grid;
        grid-template-rows: 1fr repeat(3, 0.5fr) 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
         ". team ."
         "sup team calc"
         "sup . calc"
         "sup karma calc"
         ". karma ."
            ;
        

    }
    main {
        font-size: 1.2em;
        padding: 3em 10em;
    }
    
}